#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 500px; 
    height: 500px; 
    padding: 10px; 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}